﻿@model ASP.NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.RecipeInfoModel

@{
    ViewBag.Title = "Details";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Model.Recipe.Name <small>40 min</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Content//img/recipes/@Model.Recipe.Name/main.jpg">
        </div>

        <div class="col-md-8">
            <h3>Ingredients</h3>
            <ul>
                @foreach (var item in Model.Ingredients)
                {
                    <li>@item.Name @item.Quantity (@item.Cost br)</li>
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <h3>Recipe</h3>
        @foreach (var item in Model.Recipe.Steps)
        {
            <p>@item</p>
        }
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Recipe in image</h3>
        </div>
        @for (int i = 0; i < Model.Recipe.RecipeInImages.Count(); i++)
        {
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="~/Content/img/recipes/@Model.Recipe.Name/@Model.Recipe.RecipeInImages[i]" />
                </a>
            </div>
        }
    </div>
</div>
