﻿@model NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.DishInfoViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Model.Dish.Name
                <small>
                    @for (int i = 0; i < Model.Dish.Rating; i++)
                    {
                        <img src="~/Content/img/star.jpg" width="40" height="30">
                    }
                </small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Content/img/dishes/@Model.Dish.NamePicture">
        </div>
        <div class="col-md-8">
            <h3>Dish Description</h3>
            <p>@Model.Dish.Description</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Recipe </h3>
            <small class="pull-right">
                Sort of <select class="span2" id="my_select2" onchange="sortbuttonclickfordish(@Model.Dish.Id)">
                    <option value=""></option>
                    <option value="Name">Name</option>
                    <option value="Time">Time</option>
                </select>
            </small>
        </div>
        <script>
            function sortbuttonclickfordish(id) {
                var sort = $("#my_select2 option:selected").val();
                @*var id =$@Model.Kitchen.Id.ToString();*@
                $.get("/Dishes/SortedRecipes?sort=" + sort + "&id=" + id, function (data) {
                    $("#qa").empty();
                    $("#qa").html(data);
                });
            }</script>
        <div class="row" id="qa">
            @foreach (var item in Model.Recipes)
            {
                <a href="@Url.Action("Details", "Recipe", new { id = item.Id })">
                    <div class="col-lg-4 col-sm-6">
                        <img class="img-circle img-responsive" src="~/Content//img/recipes/@item.Name/main.jpg">
                        <h3>
                            @item.Name
                            <br />
                            <small>@item.TimeOfcooking</small>
                        </h3>
                    </div>
                </a>
            }
        </div>
    </div>
</div>