﻿@model ASP.NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.DishInfoViewModel

@{
    Layout = null; 
}
@foreach (var item in Model.Recipes)
{
    <a href="@Url.Action("Details", "Recipe", new { id = item.Id })">
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive" src="~/Content//img/recipes/@item.Name/main.jpg">
            <h3>
                @item.Name
                <br/>
                <small>@item.TimeOfcooking</small>
            </h3>
        </div>
    </a>
}