﻿@using DataCore.Entity
@model NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.KitchenInfoViewModel
@{
    ViewBag.Title = "KitchenInfo";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Model.Kitchen.Name кухня
                <small>
                    
                </small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Content/img/Carousel/@Model.Kitchen.NamePicture">
        </div>
        <div class="col-md-8">
            <h3>Kitchen Description</h3>
            <p>@Model.Kitchen.Description</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Dishes </h3>
            <small class="pull-right">
                Sort of <select class="span2" id="my_select1" onchange="sortbuttonclickforkitchen(@Model.Kitchen.Id.ToString())">
                    <option value=""></option>
                    <option value="Name">Name</option>
                    <option value="Cost">Cost</option>
                    <option value="Rating">Rating</option>
                </select>
            </small>
        </div>
        <div class="row" id="as">
            @foreach (var item in Model.Dishes)
            {
            <a href="@Url.Action("Details", "Dishes", new { id = item.Id })">
                <div class="col-lg-4 col-sm-6">
                    <img class="img-circle img-responsive" src="~/Content/img/dishes/@item.NamePicture">
                    <h3>
                        @item.Name                    
                            <small>@item.Cost br</small>
                    </h3>
                    @*<p>@item.Description</p>*@
                </div>
            </a>
            }
        </div>
    </div>
</div>
<script>
    function sortbuttonclickforkitchen(id) {
        var sort = $("#my_select1 option:selected").val();
        @*var id =$@Model.Kitchen.Id.ToString();*@
        $.get("/Kitchen/SortedDishes?sort="+sort+"&id="+ id, function (data) {
            $("#as").empty();
            $("#as").html(data);
        });
    }
</script>