﻿@model ASP.NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.RecipeViewModel

@{
    ViewBag.Title = "CreateRecipe";
}

<h2>CreateRecipe</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RecipeViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeOfcooking, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeOfcooking)
                @Html.ValidationMessageFor(model => model.TimeOfcooking)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameDish, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameDish)
                @Html.ValidationMessageFor(model => model.NameDish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NamePicture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamePicture)
                @Html.ValidationMessageFor(model => model.NamePicture)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListRecipes")
</div>
