﻿@model NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.ComboHomeViewModel

@{
    ViewBag.Title = "Index";
}
<ul class="nav nav-tabs">
    <li class="active"><a href="@Url.Action("Index", "Admin")">Нome</a></li>
    <li><a href="@Url.Action("ListKitchenes", "Admin")">Kitchens</a></li>
    <li><a href="@Url.Action("ListDishes", "Admin")">Dishes</a></li>
    <li><a href="@Url.Action("ListRecipes", "Admin")">Recipes</a></li>
</ul>
@*@Html.ActionLink("Dishes", "ListDishes", "Admin")
@Html.ActionLink("Kitchens", "ListKitchenes", "Admin")
@Html.ActionLink("Recipes", "ListRecipes", "Admin")*@

Hello, I home page.
 
If you want edit something Click on thу appropriate tab.