﻿@model NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.ComboHomeViewModel

    @{
        ViewBag.Title = "ListDishes";
    }
<ul class="nav nav-tabs">
    <li ><a href="@Url.Action("Index", "Admin")">Нome</a></li>
    <li><a href="@Url.Action("ListKitchenes", "Admin")">Kitchens</a></li>
    <li class="active"><a href="@Url.Action("ListDishes", "Admin")">Dishes</a></li>
    <li><a href="@Url.Action("ListRecipes", "Admin")">Recipes</a></li>
</ul>
    <h2>ListDishes</h2>

    <p>
        @Html.ActionLink("Create New", "CreateDish")
    </p>
    <table class="table">
        <tr>
            <th></th>
        </tr>

        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>
                    @item.Name
                    @Html.ActionLink("Edit", "EditDish", new { id = item.Id }) |
                    @*@Html.ActionLink("Details", "Details", "Dishes", new { id=item.Id })*@
                    <a href="@Url.Action("Details", "Dishes", new { id = item.Id })">Details</a>|
                    @Html.ActionLink("Delete", "DeleteDish", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
