﻿@model NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.ComboHomeViewModel

@{
    ViewBag.Title = "ListKitchen";
}
<ul class="nav nav-tabs">
    <li ><a href="@Url.Action("Index", "Admin")">Нome</a></li>
    <li class="active"><a href="@Url.Action("ListKitchenes", "Admin")">Kitchens</a></li>
    <li><a href="@Url.Action("ListDishes", "Admin")">Dishes</a></li>
    <li><a href="@Url.Action("ListRecipes", "Admin")">Recipes</a></li>
</ul>
<h2>ListKitchen</h2>

<p>
    @Html.ActionLink("Create New", "CreateKitchen")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.Kitchens) {
    <tr>
        <td>
            @item.Name
            @Html.ActionLink("Edit", "EditKitchen", new {  id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new {  id=item.Id }) |*@
            <a href="@Url.Action("Details", "Kitchen", new { id = item.Id })">Details</a>|
            @Html.ActionLink("Delete", "DeleteKitchen", new {  id=item.Id })
        </td>
    </tr>
}

</table>
