﻿@model NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.ComboHomeViewModel

@{
    ViewBag.Title = "ListRecipes";
}
<ul class="nav nav-tabs">
    <li ><a href="@Url.Action("Index", "Admin")">Нome</a></li>
    <li><a href="@Url.Action("ListKitchenes", "Admin")">Kitchens</a></li>
    <li><a href="@Url.Action("ListDishes", "Admin")">Dishes</a></li>
    <li class ="active"><a href="@Url.Action("ListRecipes", "Admin")">Recipes</a></liclass>
</ul>
<h2>ListRecipes</h2>

<p>
    @Html.ActionLink("Create New", "CreateRecipe")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.Recipes) {
    <tr>
        <td>
            @item.Name
            @Html.ActionLink("Edit", "EditRecipe", new {  id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            <a href="@Url.Action("Details", "Recipe", new { id = item.Id })">Details</a>|
            @Html.ActionLink("Delete", "DeleteRecipe", new { id=item.Id})
        </td>
    </tr>
}

</table>
