﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <img src="~/Content/img/no-avatar.jpg" />
   <br/> Student group IT-22
</address>

<address>
    <strong>E-mail:</strong> <a href="ann9510@mail.ru">ann9510@mail.ru</a>
</address>