﻿@using System.ServiceModel.Configuration
@model NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.ComboHomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item"><center><img src="~/Content/img/main.jpg" /></center></div>
            @foreach (var item in Model.Kitchens)
            {
                <div class="item"><center><a href="@Url.Action("Details", "Kitchen", new { id = item.Id })"><img src="~/Content/img/Carousel/@item.NamePicture" /></a> </center></div>
            }

        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>


    <div class="row">
        <div class="col-lg-3">
            <h2 class="page-header">
                Search dish
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter the name of the dish..." id="search">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="searchbuttonclick()">

                            <span class="glyphicon glyphicon-search"></span>

                        </button>

                    </span>
                </div>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dishes
                <small class="pull-right">
                    Sort of
                    <select class="span2" id="my_select" onchange="sortbuttonclick()">
                        <option value=""></option>
                        <option value="Name">Name</option>
                        <option value="Cost">Cost</option>
                        <option value="Rating">Rating</option>
                    </select>
                </small>
            </h1>
        </div>
    </div>

    <script>
        function sortbuttonclick() {
            var sort = $("#my_select option:selected").val();
            $.get("/Home/SortedDishes?sort=" + sort, function (data) {
                $("#dishes").empty();
                $("#dishes").html(data);
            });
        }

        function searchbuttonclick() {
            var name = $("#search").val();
            $.get("/Home/SearchDish?name=" + name, function (data) {
                $("#dishes").empty();
                $("#dishes").html(data);
            });
        }
    </script>

    <div class="row" id="dishes">
        @foreach (var item in Model.Dishes)
        {
            <a href="@Url.Action("Details", "Dishes", new { id = item.Id })">
                <div class="col-lg-4 col-sm-6">
                    <img class="img-circle img-responsive" src="~/Content/img/dishes/@item.NamePicture">
                    <h3>
                        @item.Name
                        <small>@item.Cost br</small>
                    </h3>
                </div>
            </a>
        }
    </div>
</div>   