﻿@model NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.DishInfoViewModel

@{
    Layout = null;
}
@if (Model.Dish != null)
{
    <a href="@Url.Action("Details", "Dishes", new {id = Model.Dish.Id})">
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive" src="~/Content/img/dishes/@Model.Dish.NamePicture">
            <h3>
                @Model.Dish.Name
                <small>@Model.Dish.Cost br</small>
            </h3>
        </div>
    </a>
}



