﻿@model NET_MVC5_with_Bootstrap_3._1._1_LESS1.Models.ViewModels.ComboHomeViewModel

@{
    Layout = null;
}

@foreach (var item in Model.Dishes)
{
    <a href="@Url.Action("Details", "Dishes", new { id = item.Id })">
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive" src="~/Content/img/dishes/@item.NamePicture">
            <h3>
                @item.Name
                <small>@item.Cost br</small>
            </h3>
        </div>
    </a>
}